 
  /* Import the fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif !important;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
   background: linear-gradient(
    90deg,
    #f3f9fc 0%,
    #eef5f8 50%,  
    #e7f0f4 100%
  );

}

@layer base {
  .right-59 {
    right: 59px;
  }

  .left-custom_value {
    left: calc(50% - 4px);
  }

  .top-custom_value {
    top: calc(50% - 4px);
  }

  .-top-custom_76 {
    top: -79px
  }
}

/* Global scrollbar styles */
::-webkit-scrollbar {
  @apply w-1 h-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-d8d8d8 rounded-md;
}

::-webkit-scrollbar-track {
  @apply bg-f0f0f0 !rounded-md;
}

#devicesTable thead tr th:first-child {
  @apply sticky left-0 ;
}

#devicesTable thead tr th:last-child {
  @apply sticky right-0 ;
}

#devicesTable tbody tr td:first-child {
  @apply sticky left-0 bg-white z-10;
}

#devicesTable tbody tr td:last-child {
  @apply sticky right-0 bg-white;
}

#devicesTable thead tr th:nth-child(2) {
  @apply sticky left-[114px]  z-30;
}

#devicesTable tbody tr td:nth-child(2) {
  @apply sticky left-[114px] bg-white z-20;
}

/* Devices Table - Hover for sticky columns */
#devicesTable tbody tr:hover td:first-child {
  @apply bg-gray-100 !important;
}

#devicesTable tbody tr:hover td:nth-child(2) {
  @apply bg-gray-100 !important;
}

/* #devicesTable tbody tr:hover td:nth-last-child(2) {
  @apply bg-[#F3F4F6] !important;
} */

#devicesTable tbody tr:hover td:last-child {
  @apply bg-gray-100 !important;
}

#devicesTable tbody tr:hover td:first-child div {
  @apply bg-gray-100 !important;
}

#devicesTable tbody tr:hover td:nth-child(2) div {
  @apply bg-gray-100 !important;
}



#devicesTable tbody tr:hover td:last-child div {
  @apply bg-gray-100 !important;
}


#devicesTable tbody tr:hover td.selectedCell:first-child {
  @apply bg-E4F5E3 !important;
}

#devicesTable tbody tr:hover td.selectedCell:nth-child(2) {
  @apply bg-red-300 !important;
}

#devicesTable tbody tr:hover td.selectedCell:last-child {
  @apply bg-E4F5E3 !important;
}

#devicesTable tbody tr:hover td.selectedCell:first-child div {
  @apply bg-E4F5E3 !important;
}

#devicesTable tbody tr td.selectedCell:nth-child(2) div {
  @apply bg-E4F5E3 !important;
}


#devicesTable tbody tr td.selectedCell:first-child div {
  @apply bg-E4F5E3 !important;
}

#devicesTable tbody tr td.selectedCell:last-child div {
  @apply bg-E4F5E3 !important;
}

.selectedCell:last-child {
  @apply bg-E4F5E3 !important;
}

.selectedCell:last-child span {
  @apply bg-E4F5E3 !important;
}

.defaultCell:last-child {
  @apply bg-white !important;
}

.defaultCell:last-child:hover {
  @apply bg-white !important;
}

/* .selectedCell:nth-last-child(2) {
  @apply bg-E4F5E3 !important;
} */


/* .defaultCell:nth-last-child(2) {
  @apply bg-white !important;
} */

/* .defaultCell:nth-last-child(2):hover {
  @apply bg-white !important;
} */

td a {
  @apply text-black no-underline hover:text-black hover:no-underline focus:text-black focus:no-underline active:text-black active:no-underline visited:text-black;
}

@layer base {
  body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .inter-custom {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

.rs-picker-popup {
  z-index: 999 !important;
}

button {
  @apply outline-none focus-within:outline-none focus-within:ring-0 focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-offset-0 !important;
}


/* Clockwise Rotation */
@keyframes rotateOrbit {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Glow around icons */
@keyframes iconGlow {
  0% {
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0.2));
  }

  50% {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
  }

  100% {
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0.2));
  }
}

/* Text Switch */
@keyframes fadeSwitch {

  0%,
  20% {
    opacity: 1;
  }

  25%,
  95% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* Slide-in animation */
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 0.35s ease-out forwards;
}


@layer utilities {
  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 1s infinite;
  }
}

/* NetWork Status */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  to {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 1.5s ease-in forwards;
}



  
.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

/* Remove strike-through for disabled dates */
.rs-calendar-table-cell-disabled .rs-calendar-table-cell-content {
  text-decoration: none !important;
  opacity: 0.4; /* blurred style */
  cursor: not-allowed;
}
