/* Import the fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,


body {
  font-family: "Inter", sans-serif !important;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
   height: 100%;
   background: linear-gradient(
    90deg,
    #f3f9fc 0%,
    #eef5f8 50%,  
    #e7f0f4 100%
  );
}

@layer base {
  .right-59 {
    right: 59px;
  }

  .left-custom_value {
    left: calc(50% - 4px);
  }

  .top-custom_value {
    top: calc(50% - 4px);
  }

  .-top-custom_76 {
    top: -79px
  }
}

/* Global scrollbar styles */
::-webkit-scrollbar {
  @apply w-1 h-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-d8d8d8 rounded-md;
}

::-webkit-scrollbar-track {
  @apply bg-f0f0f0 !rounded-md;
}



/* Clockwise Rotation */
@keyframes rotateOrbit {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Glow around icons */
@keyframes iconGlow {
  0% {
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0.2));
  }

  50% {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
  }

  100% {
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0.2));
  }
}

/* Text Switch */
@keyframes fadeSwitch {

  0%,
  20% {
    opacity: 1;
  }

  25%,
  95% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* Slide-in animation */
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 0.35s ease-out forwards;
}


@layer utilities {
  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 1s infinite;
  }
}

/* NetWork Status */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  to {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out forwards;
}

.animate-fadeOut {
  animation: fadeOut 1.5s ease-in forwards;
}




.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

/* Remove strike-through for disabled dates */
.rs-calendar-table-cell-disabled .rs-calendar-table-cell-content {
  text-decoration: none !important;
  opacity: 0.4; /* blurred style */
  cursor: not-allowed;
}
