 
  /* Import the fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif !important;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
   background: linear-gradient(
    90deg,
    #f3f9fc 0%,
    #eef5f8 50%,  
    #e7f0f4 100%
  );
}

@layer base {
  .right-59 {
    right: 59px;
  }

  .left-custom_value {
    left: calc(50% - 4px);
  }

  .top-custom_value {
    top: calc(50% - 4px);
  }

  .-top-custom_76 {
    top: -79px
  }
}

/* Global scrollbar styles */
::-webkit-scrollbar {
  @apply w-1 h-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-d8d8d8 rounded-md;
}

::-webkit-scrollbar-track {
  @apply bg-f0f0f0 !rounded-md;
}

/* table head */
#devicesTable thead tr th:first-child {
  @apply sticky left-0  ;
}

#devicesTable thead tr th:nth-child(2) {
  @apply sticky left-[114px]  z-30;
}
#devicesTable thead tr th:last-child {
  @apply sticky right-0 ;
}

/* table body */
#devicesTable tbody tr td:first-child {
  @apply sticky left-0 z-20 ;
}

#devicesTable tbody tr td:nth-child(2) {
  @apply sticky left-[114px]  z-30;
}

#devicesTable tbody tr td:last-child {
  @apply sticky right-0 z-20
}
